.input-prepend{
    position: relative;
}
.component_below {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
	text-indent: -9999px;
}

.component_above {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 50%;
	text-indent: -9999px;
}

.component_child {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	text-indent: -9999px;
}

.component_hover {
	background: yellow;
	filter:alpha(opacity=40);
	-moz-opacity:0.40;
	-khtml-opacity: 0.40;
	opacity: 0.40;
}